/*======================= Header ============================================ */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
#menu-menu-1 {
  color: #fff;
}
.navbar-default .navbar-nav>li>a{
  color: #fff;
  &:hover{
    color: red;
  }
}
