@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 1.1;

}
body{
  background:url('./images/background-88-2.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position-y: 0px;
  background-position-x: -343px;
  background-attachment: fixed;
  //height: 100vh;
  width:100%;
  color:#fff;
  a{
    color: #fff;
    font-weight: 900;
    &:hover{
      text-decoration: none;
    }
  }


}
